/* GOOGLE FONTS  */
/* font-family: 'Aboreto', cursive; */
/* font-family: 'Pacifico', cursive; */
/* font-family: 'Roboto', sans-serif; */

:root {
    /* globales */
    /* root: tiene mayor especificidad que html, pero en escencia son lo mismo */
    /* --bg-page-color: rgb(156, 155, 252); */
    --bg-page-color: red;
    --bg-titular-color: green;
    --bg-color-menu-hover: gray;
    --bg-color-menu: black;
    --bg-mb-section-color: rgb(252, 189, 2);
    --bg-ds-section-color: rgb(0, 128, 255);
    --bg-lg-section-color: rgb(26, 255, 0);

    --text-color: rgb(0, 0, 0);
    --text-color-ligth: lime;
    --article-color: violet;
    --btn-color: #2f009c;
    --btn-color-hoover: #7d009c;
    --menu-color: black;
    --menu-color-hover: navy;
}

html {
    /* background-color: var(--bg-page-color); */
    /* USAMOS MULTIPLOS DE 8 ( PARA HACER PIXEL PERFECT EN ANDROID )  */
    font-size: 8px;
    font-family: 'Roboto', sans-serif;
    color: var(--text-color);
    height: 100vh;
    width: 100vw;
}

a {
    color: beige;
}

.contenedor {
    background-color: var(--bg-page-color);
    display: grid;
    /* min-width: 600px; */
    /* max-width: 2400px; */
    /* margin: 16px auto; */
    min-width: 400px;
    max-width: 1920px;
    border: 0px;
    border-radius: 0px;
    margin: 0px;
    padding: 0px;
    
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(9, auto);
    /* gap: 24px; */
    /* Multiplos de 8 para hacer pixel perfect en android  */
    /* 
    Para acomodar los elementos desde el contenedor padre en grid place-content	[align-content] [justify-content] 
    */
    place-content: stretch stretch;
    place-items:  stretch stretch;
}

.header {
    grid-area: header;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-items: center;
    
    margin: 12px 12px 6px 12px;
    border: 0px;
    border-radius: 4px;
    padding: 0px;

    font-size: 6em;
}

.navbar {
    grid-area: navbar;
    display: flex;
    /* display: grid; */
    /* place-content: space-between; */
    align-items: stretch;
    justify-content: space-evenly;
    flex-flow: row nowrap;
    /* justify-self: center;     */
    
    margin: 6px 12px 6px 12px;
    border: 0px;
    border-radius: 4px;
    padding: 0px;

    color: var(--text-color-ligth);
    height: auto;
    font-size: 3em;
}

.navbarList{
    display: grid;
    align-items: center;
    justify-items: center;
    justify-content: stretch;
    align-content:stretch;

    list-style: none;
    position: relative;
   
    /* Acomodo automaticamente todo en columnas  */
    grid-auto-flow: column; 
    grid-auto-columns: minmax(max-content, 1fr);
    /* margin-left: 2em; */
    gap: 2em;

}

/* .navbar */ /*aca hay alguna propiedad que colisiona*/
.btn_1 {
    background-color: var(--btn-color);
    border: none;
    color: white;
    border-radius: 24px;
    padding: 0px 8px;
    text-align: center;

    text-decoration: none;
    /* display: inline-block; */
    font-size: 1em;
    /* min-width: 64px ; */

    flex: 0.01 0 120px;
    height: fit-content;
    min-height: 32px;

}

.navbar
li
a {
    text-decoration: none;
    font-size: 10px;
    color: black;
    transition: 0.8s;
    padding: 5px;
}

.navbar
li
a:hover {
    color: var(--btn-color-hoover);
    background-color: #aef6ff;
}

/*
### Seccion main - Noticias ###
*/
.contenido {
    /* background-color: var(--bg-section-color); */
    grid-area: contenido;
    display: flex;
    /* flex-flow: column nowrap; */
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: stretch;
    /* margin: 0px 24px; */
    margin: 6px 12px 6px 12px;
    padding: 0px;
    border: 0px;
    border-color: rgb(0, 0, 0);
    border-radius: 4px;
    border-style: dashed;
    
    gap: 24px 24px;
}

.articulo {
    display: grid;
    /* grid-template-columns: minmax(280px, 1fr) 2fr; */
    /* grid-template-columns: 1fr 2fr; */
    align-items: stretch;
    /* flex: 0 0 240px; */
    /* grid-auto-rows: min-content; */
    margin: 12px 24px;
    padding: 0px;
    border: 2px;
    border-color: rgb(0, 0, 0);
    border-radius: 4px;
    border-style: dashed;
    /* flex basis actua sobre el height porque estamos en flex-direction: column; */
    
    /* z-index: 1; */
}

.portada{
    display: flex;
    align-items: center;
    margin: 8px 8px;
    padding: 0px;
    border: 2px;
    border-color: rgb(0, 0, 0);
    border-radius: 4px;
    border-style: dashed;
}

.portadaImagen {
    aspect-ratio: 1/1;
    object-fit:cover;
    max-width: 230px;
    max-height: 230px;
    margin: 0px 0px;
    padding: 0px;
    border: 2px;
    border-color: rgb(0, 0, 0);
    border-radius: 4px;
    border-style: dashed;
}

.titular{
    background-color: var(--bg-titular-color);
    display: flex;
    justify-items: center;
    align-items: center;
    /* flex-direction: column; */
    /* flex-wrap: nowrap; */
    flex-flow: column nowrap;
    margin: 0px 0px;
    padding: 0px;
    border: 2px;
    border-color: rgb(0, 0, 0);
    border-radius: 4px;
    border-style: dashed;
    /* margin: 24px auto; */
    color: var(--titular-color);
    text-align: left;
    font-size: 2rem;
}

.titular > h1{
    margin-bottom: 8px;
}

.titular > h3{
    margin: 8px auto;
}

.seguirLeyendo{
    background-color: blue;
    display: inline-block;
    justify-self: center;
    align-self: center;
    color: aliceblue;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 4px;
}

.iframe {
    aspect-ratio: 1/1;
    object-fit:cover;
    max-width: 230px;
    max-height: 230px;
    margin: 0px 0px;
    padding: 0px;
    border: 2px;
    border-color: rgb(0, 0, 0);
    border-radius: 4px;
    border-style: dashed;
    /* z-index: 0; */
}

/*
####################################################
###        Inicio - Estilos Articulos HTML       ###
###                Pagina Aparte                 ###
####################################################
*/

.noticia {
    /* background-color: var(--article-color); */
    border-color: rgb(0, 0, 0);
    border: 2px;
    border-style: dashed;
    border-radius: 32px;
    
    z-index: 1;
    
    margin: 12px 24px;
    padding: 8px; /*By CSB */

    display: flex;
    flex-flow: column nowrap;
    align-items: stretch;
    justify-content: stretch;
   
    /* justify funciona en el eje principal, en este caso vertical  */

}

.titular {

   /* background-color: var(--bg-titular-color); */
   margin: 16px auto;

   text-align: left;
   /* align-self: stretch;
   justify-self:stretch; */

   font-size: 2rem;
   color: var(--titular-color);
}

.noticiaFotoContenedor {
   justify-self: center;
   overflow: hidden;
   /* flex-shrink: 20; */

   /* POR ALGUNA RAZON ALINEANDO LSO ITEMS AL CENTRO CON ALIGN ITEMS SE ROMPE TODO Y LA IMAGEN NO SE ACHICA NI SE CORTA AL ACHICAR LA PANTALLA ????¡?¡? */
}

.noticiaFoto {
   aspect-ratio: 1/1;
   object-fit:cover;
   /* align-self: center; */
   /* flex-shrink: 20; */

   flex: 1 1 auto;
    
   max-width: 800px;
   /* max-height: 800px; */
   border-radius: 32px;
}

.memeContenedor{
    /* background-color: #dcffd3; */
    /* align-self: center; */
    justify-self: center;
    overflow: hidden;
    
    /* flex-shrink: 20; */
}

.meme {
    /* !important; */
    
    aspect-ratio: 1/1;
    object-fit:cover;
    /* align-self: center; */
    /* flex-shrink: 20; */
    /* display: block; */
    max-width: 400px;

    border-radius: 32px;
}

.noticiaCuerpo {

    margin: 24px auto;
    /* text-align: left; */
    text-align: justify;
 
    font-size: 2rem;
    color: var(--titular-color);
}

.noticiaCuerpo > p {
    margin: 8px 16px;
}

.noticiaVolverContenedor {

    display: flex;
    gap: 4em;
    margin: 24px auto;
    font-size: 1.5em;
    text-align: center;
}

.noticiaFuente {
    cursor: pointer;
}

/*
##################################################
###       Fin Estilos Articulos HTML           ###
###             Pagina Aparte                  ###
##################################################
*/


/* .contenedor */
.sidebar {
    grid-area: sidebar;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    /* min-width: 80px; */ 
    /* min-height: 80vh; */
    margin: 6px 12px 6px 12px;
    border: 0px;
    border-radius: 4px;
    padding: 0px;

}

.sidebarContenedor{
    border: 2px;
    border-style: dashed;
    border-radius: 32px;
     
    border-color: rgb(0, 0, 0);
    z-index: 1;
        
    align-items: stretch;
    justify-items: stretch;
        
    font-size: 3em;

    margin: 24px;
    
    display: flex;
}

.footer {
    grid-area: footer;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    
    margin: 6px 12px 6px 12px;
    border: 0px;
    border-radius: 4px;
    padding: 0px;

    min-height: 100px;
    font-size: 20px;
}

.footerTexto {
    /* grid-area: footer; */
    /* background-color: var(--bg-section-color); */
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}

.encabezado {
    font-size: 20px;
    font-family: 'Roboto', cursive;
    margin-top: 5px;
    animation-name:Colores;
    animation-duration: 5s; 
    animation-iteration-count:infinite;
}
    
@keyframes Colores{
    0%{color: blue}
    50%{color: lightseagreen}
    100%{color: lightskyblue}
}
    
/* .contenedor */
.table{
    font-size: 20px;
    border: dashed black;
    text-align: center;
    z-index: 9999;
}

.contacto{
    text-align: center;
    font-size: 20px;
    color: black;
}
    
.imagenFormulario{
    opacity: 0.5;
    margin-top: 25px;
}

input{
    width: 300px;
    height: 25px;
    border: double blue;
}
    
textarea{
    width: 300px;
    height: 250px;
    border: double blue;
}
     
.boton {
    color: white;
    font-size: 20px;
    font-weight: 500;
    padding: 0.5em 1.2em;
    background: rgb(10, 89, 141);
    border: 2px solid;
    border-radius: 1rem;
    border-color: #318aac;
    position: relative;
    bottom: 15px;
}
     
.boton:hover {
    color: white;
    box-shadow: 0 5px 15px rgba(49, 138, 172, 1);
    transition: all 0.1s ease;
    cursor: pointer;
}

.api{
    text-align: center;
    font-size: 20px;
    color: black;
}

/* 
*******************************************************
**** PARA BARRA DE NAVEGACIÓN CON MENÚ HAMBURGUESA ****
*******************************************************
*/

/* .header .contenedor .navbar {
    place-content: flex-start;
} */

#menu,
#menu-check {
    display: none;
}

/* 
#############################################
###      Media Query - Mobile Device      ###
#############################################
*/

/* @media screen and (max-width: 640px) { */
@media screen and (max-width: 640px) {
    .contenedor {
        grid-template-areas:
            "header header header header header"
            "navbar navbar navbar navbar navbar"
            "sidebar sidebar sidebar sidebar sidebar"
            "contenido contenido contenido contenido contenido"
            "contenido contenido contenido contenido contenido"
            "contenido contenido contenido contenido contenido"
            "contenido contenido contenido contenido contenido"
            "contenido contenido contenido contenido contenido"
            "footer footer footer footer footer";
    }

    .header{
        grid-area: header;
        background-color: var(--bg-mb-section-color);
    }
    
    .navbar{
        grid-area: navbar;
        background-color: var(--bg-mb-section-color);
    }
    
    .contenido {
        grid-area: contenido;
        background-color: var(--bg-mb-section-color);
    }

    .portada{
        display: none;
    }
    
    .portadaImagen {
        display: none;
    }

    .sidebar{
        grid-area: sidebar;
        background-color: var(--bg-mb-section-color);
    }

    .footer{
        grid-area: footer;
        background-color: var(--bg-mb-section-color);
    }

    /* 
    *****************************************************
    *** PARA BARRA DE NAVEGACIÓN CON MENÚ HAMBURGUESA ***
    *****************************************************
    */

    #menu-check:not(:checked)~nav {
        display: none;
    }

    #menu-check:checked~nav {
        display: block;
    }

    #menu {
        display: block;
        color: var(--menu-color);
        font-size: 1.5em;
        font-weight: bold;
        border: 3px solid var(--menu-color);
        border-radius: 0.3em;
        position: absolute;
        right: 0.3em;
        top: 3.3em;

        /*z-index: 9999;*/
    }

    #menu:hover {
        color: var(--menu-color-hover);
        /*background-color: var(--bg-color-menu-hover);*/
    }

    #menu-cerrar {
        display: none;
    }

    #menu-check:checked~label
    #menu-abrir {
        display: none;
    }

    #menu-check:checked~label
    #menu-cerrar {
        display: block;
    }

    /* .contenedor */
    /* .navbar */
    ul,
    /* .contenedor */
    /* .navbar */
    li  {
        display: block;
        text-align: right;
        height: 15px;
        font-size: 80%;
        padding: 25px;
        z-index: 9999;
        
        /*margin: 40px;*/
    }


    /* .contenedor */
    /* .navbar */
    .navbarList{
    
        list-style: none;
        position: relative;
    
        display:grid;
        /* Acomodo automaticamente todo en columnas  */
        grid-auto-flow: row ; 
        grid-auto-rows: minmax(max-content, 1fr);
        /* margin-left: 2em; */
        gap: 0.1em;
    
        align-items: center;
        justify-items: center;
        justify-content: stretch;
        align-content:stretch;

    }

    /* .contenedor */
    .sidebar {

        height: 200px;
        opacity: 0.2;
    
    }

    /* .contenedor */
    /* .sidebar */
    .contenedor-iframe{
        /*display: none;*/
        opacity: 0.4;
        position: absolute;

    }

    /* .contenedor */
    .table{
        font-weight: bold;
        font-size: 20px;
        border: dashed black;
        text-align: center;
        z-index: 9999;
    
    }

    .contacto{
        text-align: center;
        font-size: 20px;
        color: black;
    
    }
    
    .imagenFormulario{
        height: 2px;
        opacity: 0.5;
        margin-top: 25px;
    }

    /* .contenedor */
    /* .footer */
    .footerTexto {
        grid-area: footer;
        background-color: var(--bg-section-color);
        display: flex;
        text-align: center;
        align-items: center;
        justify-content: center;
        font-size: 15px;
       
    }

}

/* 
#############################################
######      Media Query - Desktop      ######
#############################################
 */

@media screen and (min-width: 640px) and (max-width: 1280px) {
    .contenedor {
        grid-template-areas:
            "header header header header header"
            "navbar navbar navbar navbar navbar"
            "contenido contenido contenido contenido sidebar"
            "contenido contenido contenido contenido sidebar"
            "contenido contenido contenido contenido sidebar"
            "contenido contenido contenido contenido sidebar"
            "contenido contenido contenido contenido sidebar"
            "contenido contenido contenido contenido sidebar"
            "footer footer footer footer footer";
    }

    html {
        font-size: 40%;
        font-family: 'Roboto', sans-serif;
        color: var(--text-color);
        height: 100vh;
        width: 100vw;
    }

    .header{
        grid-area: header;
        background-color: var(--bg-ds-section-color);
    }
    
    .navbar{
        grid-area: navbar;
        background-color: var(--bg-ds-section-color);
    }
    
    .contenido {
        grid-area: contenido;
        background-color: var(--bg-ds-section-color);
        /* display: flex; */
        /* flex-flow: row wrap; */
        /* flex-direction: row; */
        /* flex-wrap: wrap; */
        /* justify-content: space-evenly; */
        /* align-content: stretch; */

        gap: 16px 16px;
    }

    .articulo {
        /* grid-template-columns: minmax(280px, 1fr) 2fr; */
        grid-template-columns: auto 2fr;
        flex: 1 0 200px;
        min-height: 240px;
    }
   
    .sidebar{
        grid-area: sidebar;
        background-color: var(--bg-ds-section-color);
    }

    .footer{
        grid-area: footer;
        background-color: var(--bg-ds-section-color);
    }
}

/* 
#############################################
###     Media Query - Full HD Desktop     ###
#############################################
 */

@media screen and (min-width: 1280px) {
    .contenedor {
        grid-template-areas:
            "header header header header header"
            "navbar navbar navbar navbar navbar"
            "contenido contenido contenido contenido sidebar"
            "contenido contenido contenido contenido sidebar"
            "contenido contenido contenido contenido sidebar"
            "contenido contenido contenido contenido sidebar"
            "contenido contenido contenido contenido sidebar"
            "contenido contenido contenido contenido sidebar"
            "footer footer footer footer footer";
    }

    .header{
        grid-area: header;
        background-color: var(--bg-lg-section-color);
    }
    
    .navbar{
        grid-area: navbar;
        background-color: var(--bg-lg-section-color);
    }
    
    .contenido {
        grid-area: contenido;
        background-color: var(--bg-lg-section-color);
        display: flex;
        /* flex-direction: column; */
        /* flex-wrap: nowrap; */
        flex-flow: row wrap;

        justify-content: space-evenly;
        align-content: stretch;

        gap: 16px 16px;
    }

    .articulo {
        /* grid-template-columns: minmax(280px, 1fr) 2fr; */
        grid-template-columns: auto 2fr;
        flex: 1 0 600px;
        min-height: 240px;
    }

    .sidebar{
        grid-area: sidebar;
        background-color: var(--bg-lg-section-color);
    }

    .footer{
        grid-area: footer;
        background-color: var(--bg-lg-section-color);
    }

}